@font-face {
  font-family: "PFDinDisplayPro-Light";
  font-style: normal;
  font-weight: normal;
  src: local("fonts/PFDinDisplayPro-Light"), url("fonts/PFDinDisplayPro-Light.woff") format("woff");
}
