@import "variables";
@import "fonts";
@import "reset";
@import "scroll";
@import "mixins";

#app {
    z-index: 100;
}

#maket {
    display: none;
    background-image: url('images/maket.png');
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 10;
    width: 1376px;
    height: 976px;
}

.wrapper {
}

.panel {
    width: $width;

    header {
        height: 61px; // And 9px shadow
        width: $width;
        background-color: #bfbfbf;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0px 4px 4px 0px rgba(218, 218, 218, 0.75);
        user-select: none;
    }

    #content {
        margin-top: 70px;

        #now {
            float: right;
            margin-right: 15px;
        }
    }
}

// Components

#search-box {
    padding-top: 13px;
    padding-left: 13px;

    input[type="text"] {
        float: left;
        border: 0;
        height: 34px;
        width: 266px - 10px - 47px; // Save padding in width;
        background-color: #e8e8e8;
        border-radius: 8px;
        font-family: $font-family;
        font-size: $font-size;
        font-size: $font-size-search-box;
        outline: none;
        display: block;
        background-image: url('images/search-icon.png');
        background-repeat: no-repeat;
        background-position: 9px 6px;
        padding-left: 47px;
        padding-right: 10px;
        //	-webkit-box-shadow: inset 0 0 0 50px #fff;
        //	-webkit-text-fill-color: #000;

        &:-webkit-autofill {
        }

        &:focus {
            background-color: #fff;
            background-image: url('images/focused-search-icon.png');
            background-repeat: no-repeat;
            background-position: 9px 6px;
            padding-left: 47px;
            padding-right: 10px;
        }
    }

}

.result-wrapper {
    position: fixed;
    top: 66px;
    width: 56px;
}

#result {
    display: none;
    border: 1px solid #d1d1d1;
    border-radius: 7px;
    background-color: #fff;
    width: 300px;
    z-index: 150;
    padding: 10px;

    ul {
	list-style: none;
//	height: 96px;
//	overflow-y: scroll;
    }

    ul > li > label {
      display: none;
    }
}

.scroller
{
    width: 100%;
    height: 96px;
    overflow: auto;
    outline: none;
}

#add-button {
    float: right;
    width: 26px;
    height: 26px;
    background-image: url('images/add-button.png');
    background-repeat: no-repeat;
    background-position: 0;
    margin-top: 5px;
    margin-right: 23px;
}

#tasks ul {
    padding-top: 10px;
    list-style: none;
    user-select: none;
    outline: none;

    li.task {

        label {
            float: left;
            padding-top: 23px;
            padding-left: 22px;
            user-select: none;
        }

        .description {
            font-size: 26px;
            padding-left: 64px;
            padding-top: 18px;

            .datetime {
                font-size: 16px
            }
        }
    }

    &:focus {
        outline: none;
    }
}

#dialog {

    .dialog-wrapper {
        position: fixed;
        top: 66px;
        height: 100%;
        width: $width;
        z-index: 200;
    }

    .dialog {
        border: 1px solid #c8c8c8;
        border-radius: 8px;
        background-color: #fff;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;

        .dialog-content {

            label {
                float: left;
            }

            .texts {
                margin-left: 35px;
                margin-right: 6px;

                textarea {
                    display: block;
                    width: 100%;
                    border: 1px solid #9d9d9d;
                    resize: none;
                    font-family: $font-family;
                    font-size: 18px;
                    margin-bottom: 12px;
                    box-sizing: border-box;
                    height: 66px;
                    overflow: auto;

                    &:focus {
                        border: 1px solid #9d9d9d;
                        outline: 0;
                    }
                }

                input[type="text"] {
                    display: block;
                    width: 100%;
                    border: 1px solid #9d9d9d;
                    font-family: $font-family;
                    font-size: 18px;
                    margin-bottom: 12px;
                    box-sizing: border-box;

                    &:focus {
                        border: 1px solid #9d9d9d;
                        outline: 0;
                    }
                }

                button {
                    float: right;
                }
                @include clearfix;
            }

        }
    }
}

// Check box

input[type="checkbox"] {
    display: none;

    & + label span {
        display: inline-block;
        width: 25px;
        height: 25px;
        user-select: none;
        background: url(images/clear-checkbox.png) left top no-repeat;
    }

    &:checked + label span {
        display: inline-block;
        width: 25px;
        height: 25px;
        user-select: none;
        background: url(images/checked-checkbox.png) left top no-repeat;
    }

    &:checked ~ div.description > span {
        color: #9c9c9c;
    }
}

// Popup

.popup:before, .popup:after {
    content: " ";
    position: absolute;
    pointer-events: none;
    height: 0;
    width: 0;
    border: solid transparent;
    top: -28px;
}

.popup.bottom:before {
    border-color: rgba(200, 200, 200, 0);
    border-bottom-color: #cbcbcb;
    border-width: 14px;
    margin-left: -14px;
}

.popup.bottom:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}

.popup.left:before, .popup.left:after {
    left: 37px;
}

.popup.right:before, .popup.right:after {
    right: 21px;
}

// Diagram

#diagram {
    width: $width;

    .up-label, .bottom-label {
        text-align: center;
    }

    .up-label {
        padding-bottom: 6px;
    }

    .bottom-label {
        padding-top: 6px;
    }

    .diagram-center {
        display: table;
        margin: 0 auto;

        svg {
            font-size: 24px;
        }
    }

    .left-label {
        display: table-cell;
        vertical-align: middle;
        padding-right: 6px;
    }

    .right-label {
        display: table-cell;
        vertical-align: middle;
        padding-left: 6px;
    }

    .circle {
        display: table-cell;
        vertical-align: middle;
        height: 220px;
        width: 220px;
        border-radius: 50%;
        background-color: gray;

        .hole {
            height: 172px;
            width: 172px;
            margin: auto;
            border-radius: 50%;
            background-color: #fff;
        }
    }
}

// Colors for datetime

.complited-task {
    color: $complited-task;
}

.today-task {
    color: $today-task;
}

.future-task {
    color: $future-task;
}

.overdue-task {
    color: $overdue-task;
}

#complited-info {
    fill: $complited-task;
}

#today-info {
    fill: $today-task;
}

#future-info {
    fill: $future-task;
}

#overdue-info {
    fill: $overdue-task;
}
