<div class="diagram-wrapper">
    <div class="up-label">0</div>
    <div class="diagram-center">
        <div class="left-label">75</div>
        <svg width="220px" height="220px" viewBox="0 0 220 220" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <circle cx="110" cy="110" r="110" fill="#ececec"/>
            <g id="arcs"></g>
            <circle cx="110" cy="110" r="86" fill="#fff"/>
        </svg>
        <!--
        <div class="circle">
            <div class="slice">
            </div>

            <div class="hole">
                <div class="info">
                    <span>10% 10%</span>
                    <span>10% 10%</span>
                </div>
            </div>
        </div>
        -->
        <div class="right-label">25</div>
    </div>
    <div class="bottom-label">50</div>
</div>
