<div class="diagram-wrapper">
    <div class="up-label">0</div>
    <div class="diagram-center">
        <div class="left-label">75</div>
        <svg width="220px" height="220px" viewBox="0 0 220 220" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <circle cx="110" cy="110" r="110" fill="#ececec"/>
            <g id="arcs"></g>
            <circle cx="110" cy="110" r="86" fill="#fff"/>
            <text id="future-info" x="105" y="110" text-anchor="end" alignment-baseline="text-after-edge"></text>
            <text id="complited-info" x="115" y="110" text-anchor="start" alignment-baseline="text-after-edge"></text>
            <text id="today-info" x="105" y="138" text-anchor="end" alignment-baseline="text-after-edge"></text>
            <text id="overdue-info" x="115" y="138" text-anchor="start" alignment-baseline="text-after-edge"></text>
            <!--
            // This is Mozilla bug with alignment-baseline
            <text x="105" y="110" fill="#58a7ef" text-anchor="end" alignment-baseline="text-before-edge">25%</text>
            <text x="115" y="110" fill="#e1498d" text-anchor="start" alignment-baseline="text-before-edge">25%</text>
            -->
        </svg>
        <div class="right-label">25</div>
    </div>
    <div class="bottom-label">50</div>
</div>
